.controlMusic__svg {
    height: 23px;
    width: 23px;
}

.controlMusic__svg::selection {
    background: none;
}

.controlMusic__button__container {
    margin-top: 15px;
    margin-left: 22px;
}

.controlMusic__container {
    margin-top: 6px;
    display: flex;
    align-items: center;
}

.controlMusic__time {
    margin-left: 10px;
    margin-top: 18px;
}

.progress__bar {
    width: 45%;
    height: 5px;
    border-radius: 5px;
    background-color: white;
}
 
.progress__bar {
    margin-left: 15px;
    margin-top: 14px;
}

.progress__bar::-webkit-progress-bar {
    background-color: rgb(201, 198, 198);
    border-radius: 5px;
}

.progress__bar::-webkit-progress-value {
    background-color: white;
    border-radius: 5px;
}