.texts {
    font-style: normal;
    font-weight: 200;
    font-size: 35px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

.news__container {
    margin-top: 28px;
    /* border: red solid 1px; */
}