.slider__container {
    display: flex;
    background-color: #F1F1F1;
    height: 79.5vh;
    justify-content: center;
    overflow: hidden;
}

.slider__image {
    width: 92%;
    position: relative;
    bottom: 80px;
}